@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --black: #111111;
  --white: #fdfdfd;
  --green: #22cc88;
  --blue: #0055ff;
  --purple: #8855ff;
  --red: #ff0055;
  --bar: #00bcd4;
  --orange: #ee4444;
  --yellow: #ffcc00;
  --mustard: #ffaa00;

  --background: var(--black);
  --accent: var(--white);

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background);
  color: var(--accent);
}

* {
  /* font-family: sofia-pro, sans-serif; */
  font-family: input-mono, monospace;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  user-select: none;
}

.heroBg{
  background: linear-gradient(45deg, transparent 49%, #1a1a1b 49% 51%, transparent 51%) , linear-gradient(-45deg, transparent 49%, #1a1a1b 49% 51%, transparent 51%);
  background-size: 4em 4em;
}

.teachersBg{
  background: radial-gradient(circle, #2A2A2C 10%, transparent 11%);
  background-size: 1em 1em;
  opacity: 1;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--bar);
  transform-origin: 0%;
}